{
	"auth" : {
		"email" : "",
		"key"   : ""
	},
	"records" : [
		{
			"zone_identifier" : "",
			"identifier" : ""
		},
		{
			"zone_identifier" : "",
			"identifier" : ""
		},
		{
			"zone_identifier" : "",
			"identifier" : ""
		}
	],
	"check" : {
		"rate" : 120,
		"targets" : [
			""
		]
	},
	"fcgi":
	{
		"protocol" : "unix",
		"listen" : "/var/run/CFDNSU.sock"
	}
}